<a href="https://colab.research.google.com/github/jewoolee0502/Code.Jam-XI-/blob/main/Impression_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# !gdown --id 1J0_HW4H8o8GBt53J7Dhh_oHOLP6_N_8h

!pip install --upgrade --no-cache-dir gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.2.1)
Collecting gdown
  Downloading gdown-4.3.1.tar.gz (13 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.62.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.6.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)
Building wheels for collected packages: gdown
  Building wheel for gdown (PEP 517) ... done
  Created wheel for gdown: filename=gdown-4.3.1-py3-none-any.whl size=14493 sha256=294fc9ee5348e5f4661c5f87600b3a60de4c1a637311a10123e902c402b4fdfe
  Stored in directory: /tmp/pip-ephem-wheel-cache-e5wg1f9k/wheels/39/13/56/88209f07bace2c1af0614ee3326de4a00aad74afb0f4be921d
Successfully built gdown
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.2.1
    Uninstalling gdown-4.2.1:
      Successfully uninstalled gdown-4.2.1
Successfully installed gdown-4.3.1

In [4]:
!gdown --id 1J0_HW4H8o8GBt53J7Dhh_oHOLP6_N_8h

Downloading...
From: https://drive.google.com/uc?id=1J0_HW4H8o8GBt53J7Dhh_oHOLP6_N_8h
To: /content/impressions.csv.zip
100% 1.71G/1.71G [00:07<00:00, 214MB/s]

In [5]:
!unzip impressions.csv.zip

Archive:  impressions.csv.zip
  inflating: reportinghour.csv

In [9]:
import pandas as pd
import os

path = os.path.join(os.getcwd(),"reportinghour.csv")
pd.read_csv(path, nrows=1000)

          Id  CreativeId  ...                LastSyncedToRedshift  InvoiceItemId
0    7028751         149  ...  2019-07-24 13:41:53.1873013 -04:00            NaN
1    7028752         149  ...  2019-07-24 13:41:53.1873013 -04:00            NaN
2    7028753         149  ...  2019-07-24 13:41:53.1873013 -04:00            NaN
3    7028754         149  ...  2019-07-24 13:41:53.1873013 -04:00            NaN
4    7028755         149  ...  2019-07-24 13:41:53.1873013 -04:00            NaN
..       ...         ...  ...                                 ...            ...
995  7029746         165  ...  2019-07-24 13:41:53.1873013 -04:00            NaN
996  7029747         149  ...  2019-07-24 13:41:53.1873013 -04:00            NaN
997  7029748         165  ...  2019-07-24 13:41:53.1873013 -04:00            NaN
998  7029749         165  ...  2019-07-24 13:41:53.1873013 -04:00            NaN
999  7029750         165  ...  2019-07-24 13:41:53.1873013 -04:00            NaN

[1000 rows x 29 columns]